In [2]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import wilcoxon
from scipy.stats import mannwhitneyu

In [3]:
# 獨立樣本 t-test   Student t-test
def t_test(group1, group2):
    mean1 = np.mean(group1)
    mean2 = np.mean(group2)
    std1 = np.std(group1)
    std2 = np.std(group2)
    nobs1 = len(group1)
    nobs2 = len(group2)
    
    modified_std1 = np.sqrt(np.float32(nobs1)/np.float32(nobs1-1)) * std1
    modified_std2 = np.sqrt(np.float32(nobs2)/np.float32(nobs2-1)) * std2
    statistic, pvalue = stats.ttest_ind_from_stats( 
               mean1=mean1, std1=modified_std1, nobs1=nobs1,   
               mean2=mean2, std2=modified_std2, nobs2=nobs2 )
    return statistic, pvalue

In [4]:
# EEGFeatureColumns = [
#     'FC3_delta', 'FC3_theta', 'FC3_alpha', 'FC3_beta', 'FC3_gamma', 
#     'FCz_delta', 'FCz_theta', 'FCz_alpha', 'FCz_beta', 'FCz_gamma', 
#     'Pz_delta', 'Pz_theta', 'Pz_alpha', 'Pz_beta', 'Pz_gamma', 
#     'Oz_delta', 'Oz_theta', 'Oz_alpha', 'Oz_beta', 'Oz_gamma'
# ]
EEGFeatureColumns = [
    'FC3_delta', 'FCz_delta', 'Pz_delta', 'Oz_delta', 
    'FC3_theta', 'FCz_theta', 'Pz_theta', 'Oz_theta', 
    'FC3_alpha', 'FCz_alpha', 'Pz_alpha', 'Oz_alpha', 
    'FC3_beta', 'FCz_beta', 'Pz_beta', 'Oz_beta', 
    'FC3_gamma', 'FCz_gamma', 'Pz_gamma', 'Oz_gamma'
]

# GSRFeatureColumns = [
#     'diff' ,'startle', 'duration', 
#     'average_filter', 'mini_scr', 'maxi_scr', 
#     'average_scr', 'std_scr', 'average_ampl',
#     'std_ampl'
# ]
GSRFeatureColumns = [
    'startle', 'duration', 'diff', 
    'average_filter', 'average_scr', 'mini_scr', 'maxi_scr', 
    'std_scr', 'average_ampl', 'std_ampl'
]

# EKGFeatureColumns = [
#     'nni_mean','nni_counter','nni_min', 'nni_max', 
#     'nni_diff_mean','nni_diff_min', 'nni_diff_max',
#     'hr_mean','hr_min', 'hr_max', 'hr_std',
#     'rmssd', 'sdnn', 'sdsd',
#     'nn50','pnn50','nn20','pnn20',

#     'vlf_peak', 'lf_peak' ,'hf_peak',
#     'vlf_abs', 'lf_abs','hf_abs',
#     'vlf_rel', 'lf_rel','hf_rel',
#     'vlf_log', 'lf_log','hf_log',

#     'fft_ratio', 'fft_total',

#     'sd1', 'sd2','sd_ratio','ellipse_area','sampen'
# ]
EKGFeatureColumns = [
    'nni_counter','nni_mean','nni_min', 'nni_max', 
    'nni_diff_mean','nni_diff_min', 'nni_diff_max',
    'hr_mean','hr_min', 'hr_max', 'hr_std',
    'rmssd', 'sdnn', 'sdsd',
    'nn50','pnn50','nn20','pnn20',

    'vlf_peak', 'vlf_abs', 'vlf_rel', 'vlf_log', 
    'lf_peak', 'lf_abs', 'lf_rel', 'lf_log', 
    'hf_peak', 'hf_abs', 'hf_rel', 'hf_log',
    'fft_ratio', 'fft_total',

    'sd1', 'sd2','sd_ratio','ellipse_area','sampen'
]

# RESFeatureColumns = [
#     'RRV_RMSSD', 'RRV_MeanBB', 'RRV_SDBB', 'RRV_SDSD', 'RRV_CVBB',
#     'RRV_CVSD', 'RRV_MedianBB', 'RRV_MadBB', 'RRV_MCVBB', 'RRV_VLF',
#     'RRV_LF', 'RRV_HF', 'RRV_LFHF', 'RRV_LFn', 'RRV_HFn', 'RRV_SD1',
#     'RRV_SD2', 'RRV_SD2SD1', 'RRV_ApEn'
#     # , 'RRV_SampEn'
# ]
RESFeatureColumns = [
    'RRV_MeanBB', 'RRV_MedianBB', 'RRV_MadBB', 'RRV_SDBB', 'RRV_CVBB',
    'RRV_MCVBB', 'RRV_SDSD', 'RRV_CVSD', 'RRV_RMSSD', 'RRV_SD1', 'RRV_SD2', 'RRV_SD2SD1', 
    'RRV_VLF', 'RRV_LF', 'RRV_LFn', 'RRV_HF', 'RRV_HFn', 'RRV_LFHF', 'RRV_ApEn'
    # , 'RRV_SampEn'
]

In [5]:
def statistical(group1, group2, fc, testType, alterGcol, alternative=False):
    AAs = []
    AAp = []
    alterS = []
    alterP = []

    for c in fc:
        # 獨立樣本 t-test 
        if (testType == 'student'):
            s, p = t_test(group1[c], group2[c])
            # s, p = t_test(preA_eeg_data[c], postA_eeg_data[c])   ## AA
            # s, p = t_test(preN_eeg_data[c], postN_eeg_data[c])   ## NN
            # s, p = t_test(preA_eeg_data[c], preN_eeg_data[c])   ## ANpre

        # 配對樣本 t-test
        elif (testType == 'paired'):
            s, p = stats.ttest_rel(group1[c], group2[c])
            # s, p = stats.ttest_rel(preA_eeg_data[c], postA_eeg_data[c])   ## AA
            # s, p = stats.ttest_rel(preN_eeg_data[c], postN_eeg_data[c])   ## NN
            # s, p = stats.ttest_rel(preA_eeg_data[c], preN_eeg_data[c])   ## ANpre
            if alternative:
                if c in alterGcol:
                    sa, pa = stats.ttest_rel(group1[c], group2[c], alternative='greater') # 前>後
                else:
                    sa, pa = stats.ttest_rel(group1[c], group2[c], alternative='less') # 前<後
                alterS.append(round(sa, 3))
                alterP.append(round(pa, 3))

        # 配對 t-test 非參數版本 Wilcoxon Signed-Rank Test
        elif (testType == 'wilcoxon'):
        # else:
            s, p = wilcoxon(group1[c], group2[c], zero_method='zsplit')
            # Wilcoxon 符號秩檢定檢定兩個相關配對樣本來自同一分佈的原假設。特別是，它測試x - y差異的分佈是否關於零對稱。它是配對 T 檢定的非參數版本。
            # s, p = wilcoxon(preA_eeg_data[c], postA_eeg_data[c], zero_method='zsplit')
            # s, p = wilcoxon(preN_eeg_data[c], postN_eeg_data[c], zero_method='zsplit')
            if alternative:
                if c in alterGcol:
                    sa, pa = wilcoxon(group1[c], group2[c], alternative='greater') # 前>後
                else:
                    sa, pa = wilcoxon(group1[c], group2[c], alternative='less') # 前<後
                alterS.append(round(sa, 3))
                alterP.append(round(pa, 3))
        # 無母數檢定(Nonparametric test) - 曼－惠特尼Ｕ檢定（Mann-Whitney U Test）
        elif (testType == 'utest'):
            s, p = mannwhitneyu(group1[c], group2[c])
            if alternative:
                if c in alterGcol:
                    sa, pa = mannwhitneyu(group1[c], group2[c], alternative='greater') # 前>後
                else:
                    sa, pa = mannwhitneyu(group1[c], group2[c], alternative='less') # 前<後
                alterS.append(round(sa, 3))
                alterP.append(round(pa, 3))
        elif (testType == 'effect'):
            diff = group1[c].mean() - group2[c].mean()
            n1, n2 = len(group1[c]), len(group2[c])
            var1, var2 = group1[c].var(), group2[c].var()
            pooled_var = ((n1 - 1) * var1 + (n2 - 1) * var2) / (n1 + n2 - 2)
            s = diff / np.sqrt(pooled_var) # d
            # p, _ = stats.pearsonr(group1[c], group2[c]) # r
            p = 0

        AAs.append(round(s, 3))
        AAp.append(round(p, 3))

    tsDF = pd.DataFrame(AAs).T
    tsDF.columns = fc
    # python 三元運算子 (false, true)[condition]
    # 或者可以用 true if condition else false
    tsDF.insert(0, 'data_name', (testType + ' t', 'd')[testType == 'effect'])
    pDF= pd.DataFrame(AAp).T
    pDF.columns = fc
    pDF.insert(0, 'data_name', ('p', 'r')[testType == 'effect'])
    data = pd.concat([tsDF, pDF], axis=0, ignore_index=True)
    
    if alternative:
        asDF = pd.DataFrame(alterS).T
        asDF.columns = fc
        asDF.insert(0, 'data_name', 'alter t')
        apDF= pd.DataFrame(alterP).T
        apDF.columns = fc
        apDF.insert(0, 'data_name', 'alter p')
        data = pd.concat([data, asDF, apDF], axis=0, ignore_index=True)
    
    # print(data)
    pd.set_option('display.max_columns', None)
    display(data)

    # print("AA t statistic is: ", AAs)
    # print("AA pvalue is: ", AAp)

# alterS = []
# alterP = []
# # s, p = stats.ttest_rel(preA_eeg_data['FC3_alpha'], postA_eeg_data['FC3_alpha'], alternative='less')
# # print(s, p)
# for c in FeatureColumns:
#     # 配對樣本 t-test
#     if c.endswith('_delta'):
#         # s, p = stats.ttest_rel(preA_eeg_data[c], postA_eeg_data[c], alternative='greater')   ## AA 前>後
#         # s, p = stats.ttest_rel(preN_eeg_data[c], postN_eeg_data[c], alternative='greater')
#         # print('paired t-test', c, s, p)
#         s, p = wilcoxon(preA_eeg_data[c], postA_eeg_data[c], alternative='greater')
#         # s, p = wilcoxon(preN_eeg_data[c], postN_eeg_data[c], alternative='greater')
#         # print('wilcoxon', c, s, p)
#         alterS.append(s)
#         alterP.append(p)
#     else:
#         # s, p = stats.ttest_rel(preA_eeg_data[c], postA_eeg_data[c], alternative='less')   ## AA 前<後
#         # s, p = stats.ttest_rel(preN_eeg_data[c], postN_eeg_data[c], alternative='less')
#         # print('paired t-test', c, s, p)
#         s, p = wilcoxon(preA_eeg_data[c], postA_eeg_data[c], alternative='less')
#         # s, p = wilcoxon(preN_eeg_data[c], postN_eeg_data[c], alternative='less')
#         # print('wilcoxon', c, s, p)
#         alterS.append(s)
#         alterP.append(p)

# asDF = pd.DataFrame(alterS).T
# asDF.columns = FeatureColumns
# asDF.insert(0, 'data_name', 'alter t')
# apDF= pd.DataFrame(alterP).T
# apDF.columns = FeatureColumns
# apDF.insert(0, 'data_name', 'alter p')
# data = pd.concat([asDF, apDF], axis=0, ignore_index=True)
# # print(data)
# pd.set_option('display.max_columns', None)
# display(data)

## EEG

In [11]:
# Relaxing
eeg_data = pd.read_csv("Feature/EEG_PCR.csv", header=0, index_col=0)
preA_eeg_data = eeg_data[(eeg_data.stateLabel == 0) & (eeg_data.addictLabel == 1)]
postA_eeg_data = eeg_data[(eeg_data.stateLabel == 2) & (eeg_data.addictLabel == 1)]
preN_eeg_data = eeg_data[(eeg_data.stateLabel == 0) & (eeg_data.addictLabel == 0)]
postN_eeg_data = eeg_data[(eeg_data.stateLabel == 2) & (eeg_data.addictLabel == 0)]

# 3 group
eeg_data3group = pd.read_csv("Feature3group/EEG_PCR.csv", header=0, index_col=0)
preV_eeg_data = eeg_data3group[(eeg_data3group.stateLabel == 0) & (eeg_data3group.data_name.str[-5] == "V")]
postV_eeg_data = eeg_data3group[(eeg_data3group.stateLabel == 2) & (eeg_data3group.data_name.str[-6] == "V")]
preC_eeg_data = eeg_data3group[(eeg_data3group.stateLabel == 0) & (eeg_data3group.data_name.str[-5] == "C")]
postC_eeg_data = eeg_data3group[(eeg_data3group.stateLabel == 2) & (eeg_data3group.data_name.str[-6] == "C")]

In [17]:
# 獨立樣本 t-test

alterGcol = [
    'FC3_delta',
    # 'FC3_theta',
    # 'FC3_alpha',
    # 'FC3_gamma',
    # 'FCz_theta', 
    # 'FCz_alpha', 
    'FCz_delta', 
    # 'FCz_gamma', 
    # 'Pz_theta',
    # 'Pz_alpha',
    'Pz_delta',
    # 'Pz_gamma',
    # 'Oz_alpha',
    # 'Oz_beta',
    'Oz_delta',
    # 'Oz_gamma',
]

# ['student', 'paired', 'wilcoxon', 'utest', 'effect'] ['False', 'True'] F T T T F
# statistical(preA_eeg_data, postA_eeg_data, EEGFeatureColumns, 'wilcoxon', alterGcol, True)
# print('Normal：')
# print('Post：')
# statistical(preN_eeg_data, postN_eeg_data, EEGFeatureColumns, 'effect', alterGcol, False)
print("C")
statistical(preC_eeg_data, postC_eeg_data, EEGFeatureColumns, 'wilcoxon', alterGcol, True)
print("V")
statistical(preV_eeg_data, postV_eeg_data, EEGFeatureColumns, 'wilcoxon', alterGcol, True)
print("VR")
statistical(preA_eeg_data, postA_eeg_data, EEGFeatureColumns, 'wilcoxon', alterGcol, True)

C

,data_name,FC3_delta,FCz_delta,Pz_delta,Oz_delta,FC3_theta,FCz_theta,Pz_theta,Oz_theta,FC3_alpha,FCz_alpha,Pz_alpha,Oz_alpha,FC3_beta,FCz_beta,Pz_beta,Oz_beta,FC3_gamma,FCz_gamma,Pz_gamma,Oz_gamma
0,wilcoxon t,87.000,54.000,77.000,81.000,61.000,59.000,56.000,70.000,81.000,53.000,91.000,82.000,78.000,48.00,88.000,83.000,74.000,44.00,68.000,84.000
1,p,0.768,0.104,0.490,0.595,0.182,0.156,0.123,0.332,0.595,0.096,0.891,0.623,0.515,0.06,0.798,0.651,0.418,0.04,0.293,0.679
2,alter t,103.000,136.000,113.000,109.000,129.000,59.000,56.000,70.000,109.000,53.000,91.000,82.000,78.000,48.00,88.000,83.000,74.000,44.00,68.000,84.000
3,alter p,0.384,0.052,0.245,0.297,0.916,0.078,0.062,0.166,0.716,0.048,0.445,0.311,0.258,0.03,0.399,0.325,0.209,0.02,0.147,0.340

V

,data_name,FC3_delta,FCz_delta,Pz_delta,Oz_delta,FC3_theta,FCz_theta,Pz_theta,Oz_theta,FC3_alpha,FCz_alpha,Pz_alpha,Oz_alpha,FC3_beta,FCz_beta,Pz_beta,Oz_beta,FC3_gamma,FCz_gamma,Pz_gamma,Oz_gamma
0,wilcoxon t,65.000,103.000,77.000,100.000,64.000,102.000,84.000,99.000,86.000,102.000,60.000,88.000,61.000,104.000,62.000,92.000,57.000,102.000,67.000,94.000
1,p,0.143,0.956,0.312,0.869,0.133,0.927,0.452,0.841,0.498,0.927,0.097,0.546,0.105,0.985,0.114,0.648,0.076,0.927,0.165,0.701
2,alter t,145.000,103.000,133.000,100.000,64.000,108.000,84.000,99.000,86.000,102.000,60.000,122.000,61.000,104.000,62.000,118.000,57.000,108.000,67.000,116.000
3,alter p,0.071,0.536,0.156,0.580,0.066,0.551,0.226,0.420,0.249,0.464,0.049,0.739,0.053,0.493,0.057,0.689,0.038,0.551,0.082,0.663

VR

,data_name,FC3_delta,FCz_delta,Pz_delta,Oz_delta,FC3_theta,FCz_theta,Pz_theta,Oz_theta,FC3_alpha,FCz_alpha,Pz_alpha,Oz_alpha,FC3_beta,FCz_beta,Pz_beta,Oz_beta,FC3_gamma,FCz_gamma,Pz_gamma,Oz_gamma
0,wilcoxon t,19.000,17.000,17.000,22.000,20.00,19.000,22.000,21.000,19.000,18.000,20.00,6.000,43.000,24.000,21.000,26.000,42.000,20.00,19.000,37.000
1,p,0.068,0.048,0.048,0.110,0.08,0.068,0.110,0.094,0.068,0.057,0.08,0.003,0.893,0.146,0.094,0.191,0.839,0.08,0.068,0.588
2,alter t,72.000,74.000,74.000,69.000,20.00,19.000,22.000,21.000,19.000,18.000,20.00,6.000,43.000,24.000,21.000,26.000,42.000,20.00,19.000,37.000
3,alter p,0.034,0.024,0.024,0.055,0.04,0.034,0.055,0.047,0.034,0.029,0.04,0.002,0.446,0.073,0.047,0.095,0.420,0.04,0.034,0.294

In [21]:
# EEG Theta/Beta
eeg_data = pd.read_csv("Feature/EEG_PCR.csv", header=0, index_col=0)
eeg_data3group = pd.read_csv("Feature3group/EEG_PCR.csv", header=0, index_col=0)
# 將模擬數據轉換為 DataFrame
df = pd.DataFrame(eeg_data)
df3g = pd.DataFrame(eeg_data3group)
# 移除 stateLabel 等于 3 的数据行
df = df[df['stateLabel'] != 3]
df3g = df3g[df3g['stateLabel'] != 3]

# 計算 theta/beta 的比值
df['FC3_theta/beta'] = df['FC3_theta'] / df['FC3_beta']
df['FCz_theta/beta'] = df['FCz_theta'] / df['FCz_beta']
df['Pz_theta/beta'] = df['Pz_theta'] / df['Pz_beta']
df['Oz_theta/beta'] = df['Oz_theta'] / df['Oz_beta']
df3g['FC3_theta/beta'] = df3g['FC3_theta'] / df3g['FC3_beta']
df3g['FCz_theta/beta'] = df3g['FCz_theta'] / df3g['FCz_beta']
df3g['Pz_theta/beta'] = df3g['Pz_theta'] / df3g['Pz_beta']
df3g['Oz_theta/beta'] = df3g['Oz_theta'] / df3g['Oz_beta']

# 顯示結果
eegData = df[['data_name', 'FC3_theta/beta', 'FCz_theta/beta', 'Pz_theta/beta', 'Oz_theta/beta', 'addictLabel', 'stateLabel']]
eeg_data3group = df3g[['data_name', 'FC3_theta/beta', 'FCz_theta/beta', 'Pz_theta/beta', 'Oz_theta/beta', 'addictLabel', 'stateLabel']]
# eegData

preA_eeg_data = eegData[(eegData.stateLabel == 0) & (eegData.addictLabel == 1)]
postA_eeg_data = eegData[(eegData.stateLabel == 2) & (eegData.addictLabel == 1)]
preN_eeg_data = eegData[(eegData.stateLabel == 0) & (eegData.addictLabel == 0)]
postN_eeg_data = eegData[(eegData.stateLabel == 2) & (eegData.addictLabel == 0)]
preV_eeg_data = eeg_data3group[(eeg_data3group.stateLabel == 0) & (eeg_data3group.data_name.str[-5] == "V")]
postV_eeg_data = eeg_data3group[(eeg_data3group.stateLabel == 2) & (eeg_data3group.data_name.str[-6] == "V")]
preC_eeg_data = eeg_data3group[(eeg_data3group.stateLabel == 0) & (eeg_data3group.data_name.str[-5] == "C")]
postC_eeg_data = eeg_data3group[(eeg_data3group.stateLabel == 2) & (eeg_data3group.data_name.str[-6] == "C")]

EEGRatioFeatureColumns = [
    'FC3_theta/beta', 
    'FCz_theta/beta',
    'Pz_theta/beta',
    'Oz_theta/beta',
]
alterGcol = [
    # 'FC3_theta/beta',
    # 'FCz_theta/beta',
    # 'Pz_theta/beta',
    # 'Oz_theta/beta', 
]

# ['student', 'paired', 'wilcoxon', 'utest', 'effect'] ['False', 'True'] F T T T F
# statistical(preA_eeg_data, postA_eeg_data, EEGRatioFeatureColumns, 'effect', alterGcol, False)
# statistical(preC_eeg_data, postC_eeg_data, EEGRatioFeatureColumns, 'effect', alterGcol, False)
# print('Normal：')
print('Post')
# statistical(preV_eeg_data, postV_eeg_data, EEGRatioFeatureColumns, 'effect', alterGcol, False)
print("C")
statistical(preC_eeg_data, postC_eeg_data, EEGRatioFeatureColumns, 'wilcoxon', alterGcol, True)
print("V")
statistical(preV_eeg_data, postV_eeg_data, EEGRatioFeatureColumns, 'wilcoxon', alterGcol, True)
print("VR")
statistical(preA_eeg_data, postA_eeg_data, EEGRatioFeatureColumns, 'wilcoxon', alterGcol, True)

Post
C

    data_name  FC3_theta/beta  FCz_theta/beta  Pz_theta/beta  Oz_theta/beta
0  wilcoxon t          88.000          65.000         93.000         88.000
1           p           0.798           0.241          0.953          0.798
2     alter t          88.000          65.000         97.000         88.000
3     alter p           0.399           0.121          0.539          0.399

V

    data_name  FC3_theta/beta  FCz_theta/beta  Pz_theta/beta  Oz_theta/beta
0  wilcoxon t          82.000          98.000         96.000         75.000
1           p           0.409           0.812          0.756          0.277
2     alter t          82.000         112.000        114.000        135.000
3     alter p           0.205           0.608          0.636          0.869

VR

    data_name  FC3_theta/beta  FCz_theta/beta  Pz_theta/beta  Oz_theta/beta
0  wilcoxon t          44.000          30.000          31.00         40.000
1           p           0.946           0.305           0.34          0.735
2     alter t          44.000          30.000          31.00         40.000
3     alter p           0.473           0.153           0.17          0.368

## GSR

In [22]:
# Relaxing
gsr_data = pd.read_csv("Feature/GSR.csv", header=0, index_col=0)
preA_gsr_data = gsr_data[(gsr_data.stateLabel == 0) & (gsr_data.addictLabel == 1)]
postA_gsr_data = gsr_data[(gsr_data.stateLabel == 2) & (gsr_data.addictLabel == 1)]
preN_gsr_data = gsr_data[(gsr_data.stateLabel == 0) & (gsr_data.addictLabel == 0)]
postN_gsr_data = gsr_data[(gsr_data.stateLabel == 2) & (gsr_data.addictLabel == 0)]

# 3 group
gsr_data3group = pd.read_csv("Feature3group/GSR.csv", header=0, index_col=0)
preV_gsr_data = gsr_data3group[(gsr_data3group.stateLabel == 0) & (gsr_data3group.data_name.str[-5] == "V")]
postV_gsr_data = gsr_data3group[(gsr_data3group.stateLabel == 2) & (gsr_data3group.data_name.str[-6] == "V")]
preC_gsr_data = gsr_data3group[(gsr_data3group.stateLabel == 0) & (gsr_data3group.data_name.str[-5] == "C")]
postC_gsr_data = gsr_data3group[(gsr_data3group.stateLabel == 2) & (gsr_data3group.data_name.str[-6] == "C")]

In [24]:
# 獨立樣本 t-test

alterGcol = [
    # 'diff',
    # 'startle',
    'duration',
    'std_scr',
    'average_ampl',
    'std_ampl'
]

# ['student', 'paired', 'wilcoxon', 'utest', 'effect'] ['False', 'True']
# statistical(preA_gsr_data, postA_gsr_data, GSRFeatureColumns, 'effect', alterGcol, False)
# print('Normal：')
# statistical(preN_gsr_data, postN_gsr_data, GSRFeatureColumns, 'effect', alterGcol, False)

print('Pre：')
statistical(preC_gsr_data, postC_gsr_data, GSRFeatureColumns, 'wilcoxon', alterGcol, True)
print('Post：')
statistical(preV_gsr_data, postV_gsr_data, GSRFeatureColumns, 'wilcoxon', alterGcol, True)
statistical(preA_gsr_data, postA_gsr_data, GSRFeatureColumns, 'wilcoxon', alterGcol, True)

Pre：

c:\Users\WMlab\.pyenv\pyenv-win\versions\3.10.10\lib\site-packages\scipy\stats\_morestats.py:4088: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

,data_name,startle,duration,diff,average_filter,average_scr,mini_scr,maxi_scr,std_scr,average_ampl,std_ampl
0,wilcoxon t,53.000,63.000,67.500,31.000,31.000,27.000,31.000,60.000,66.000,60.000
1,p,0.096,0.210,0.268,0.008,0.008,0.005,0.008,0.169,0.258,0.169
2,alter t,137.000,63.000,60.000,31.000,31.000,27.000,31.000,60.000,66.000,60.000
3,alter p,0.956,0.902,0.133,0.004,0.004,0.002,0.004,0.922,0.879,0.922

Post：

c:\Users\WMlab\.pyenv\pyenv-win\versions\3.10.10\lib\site-packages\scipy\stats\_morestats.py:4088: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

,data_name,startle,duration,diff,average_filter,average_scr,mini_scr,maxi_scr,std_scr,average_ampl,std_ampl
0,wilcoxon t,28.000,30.000,72.500,17.0,25.000,35.000,16.0,47.000,51.000,45.000
1,p,0.003,0.004,0.225,0.0,0.002,0.007,0.0,0.030,0.044,0.024
2,alter t,182.000,30.000,65.000,17.0,25.000,35.000,16.0,47.000,51.000,45.000
3,alter p,0.999,0.998,0.114,0.0,0.001,0.004,0.0,0.987,0.980,0.989

c:\Users\WMlab\.pyenv\pyenv-win\versions\3.10.10\lib\site-packages\scipy\stats\_morestats.py:4088: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

,data_name,startle,duration,diff,average_filter,average_scr,mini_scr,maxi_scr,std_scr,average_ampl,std_ampl
0,wilcoxon t,48.500,59.000,34.500,35.000,33.000,29.000,36.000,36.000,32.000,19.000
1,p,0.313,0.669,0.083,0.093,0.074,0.044,0.105,0.105,0.065,0.009
2,alter t,42.000,77.000,31.000,35.000,33.000,29.000,36.000,100.000,104.000,117.000
3,alter p,0.153,0.334,0.050,0.047,0.037,0.022,0.052,0.052,0.033,0.005

## EKG (HRV)

In [25]:
# Relaxing
hrv_data = pd.read_csv("Feature/HRV.csv", header=0, index_col=0)
preA_hrv_data = hrv_data[(hrv_data.stateLabel == 0) & (hrv_data.addictLabel == 1)]
postA_hrv_data = hrv_data[(hrv_data.stateLabel == 2) & (hrv_data.addictLabel == 1)]
preN_hrv_data = hrv_data[(hrv_data.stateLabel == 0) & (hrv_data.addictLabel == 0)]
postN_hrv_data = hrv_data[(hrv_data.stateLabel == 2) & (hrv_data.addictLabel == 0)]

# 3 group
hrv_data3group = pd.read_csv("Feature3group/HRV.csv", header=0, index_col=0)
preV_hrv_data = hrv_data3group[(hrv_data3group.stateLabel == 0) & (hrv_data3group.data_name.str[-5] == "V")]
postV_hrv_data = hrv_data3group[(hrv_data3group.stateLabel == 2) & (hrv_data3group.data_name.str[-6] == "V") & (hrv_data3group.data_name != "A95V_Post")]
preC_hrv_data = hrv_data3group[(hrv_data3group.stateLabel == 0) & (hrv_data3group.data_name.str[-5] == "C")]
postC_hrv_data = hrv_data3group[(hrv_data3group.stateLabel == 2) & (hrv_data3group.data_name.str[-6] == "C")]

In [29]:
# 獨立樣本 t-test

alterGcol = [
    # 'nni_mean', 'nni_min', 'nni_max', 'nni_diff_mean', 'nni_diff_min', 'nni_diff_max', 'hr_std', 'sdnn', 'rmssd', 'sdsd', 'nn50', 'pnn50', 'nn20', 'pnn20', 'hf_abs', 'hf_rel', 'hf_log', 'lf_peak', 'vlf_abs', 
    'nni_counter', 'hr_mean', 'hr_min', 'hr_max', 
    'vlf_rel', 'lf_rel', 'hf_peak', 'sd_ratio', 'fft_ratio', 'sampen'
    # 'vlf_peak', 'lf_abs', 'lf_log', 'sd1', 'ellipse_area', 'fft_total', 'vlf_log', 
]

# ['student', 'paired', 'wilcoxon', 'utest', 'effect'] ['False', 'True']
# statistical(preA_hrv_data, postA_hrv_data, EKGFeatureColumns, 'effect', alterGcol, False)
# print('Normal：')
# statistical(preN_hrv_data, postN_hrv_data, EKGFeatureColumns, 'effect', alterGcol, False)

print('Pre：')
statistical(preC_hrv_data, postC_hrv_data, EKGFeatureColumns, 'wilcoxon', alterGcol, True)
statistical(preV_hrv_data, postV_hrv_data, EKGFeatureColumns, 'wilcoxon', alterGcol, True)
print('Post：')
statistical(preA_hrv_data, postA_hrv_data, EKGFeatureColumns, 'wilcoxon', alterGcol, True)

Pre：

c:\Users\WMlab\.pyenv\pyenv-win\versions\3.10.10\lib\site-packages\scipy\stats\_morestats.py:4088: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "
c:\Users\WMlab\.pyenv\pyenv-win\versions\3.10.10\lib\site-packages\scipy\stats\_morestats.py:4102: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

,data_name,nni_counter,nni_mean,nni_min,nni_max,nni_diff_mean,nni_diff_min,nni_diff_max,hr_mean,hr_min,hr_max,hr_std,rmssd,sdnn,sdsd,nn50,pnn50,nn20,pnn20,vlf_peak,vlf_abs,vlf_rel,vlf_log,lf_peak,lf_abs,lf_rel,lf_log,hf_peak,hf_abs,hf_rel,hf_log,fft_ratio,fft_total,sd1,sd2,sd_ratio,ellipse_area,sampen
0,wilcoxon t,30.000,30.000,51.00,56.000,94.000,87.000,90.000,32.000,51.00,51.00,79.000,88.000,87.000,89.000,94.500,94.000,81.000,87.000,72.500,88.000,94.000,83.000,94.000,81.000,88.000,85.000,93.500,67.000,85.000,69.000,88.000,87.000,88.000,94.000,89.000,89.000,94.000
1,p,0.009,0.007,0.08,0.123,0.984,0.729,0.860,0.009,0.08,0.08,0.541,0.798,0.768,0.829,0.984,0.984,0.573,0.768,0.365,0.798,0.984,0.651,0.968,0.595,0.798,0.709,0.952,0.275,0.709,0.312,0.798,0.768,0.798,0.984,0.829,0.829,0.984
2,alter t,130.500,30.000,51.00,56.000,96.000,3.000,100.000,158.000,139.00,139.00,111.000,102.000,103.000,101.000,87.000,94.000,100.500,103.000,65.000,102.000,94.000,107.000,78.500,109.000,102.000,105.000,87.000,67.000,85.000,69.000,102.000,103.000,102.000,94.000,89.000,101.000,94.000
3,alter p,0.005,0.004,0.04,0.062,0.524,0.500,0.586,0.005,0.04,0.04,0.742,0.616,0.631,0.601,0.526,0.492,0.744,0.631,0.186,0.616,0.524,0.689,0.538,0.716,0.399,0.660,0.474,0.138,0.354,0.156,0.399,0.631,0.616,0.492,0.601,0.601,0.524

c:\Users\WMlab\.pyenv\pyenv-win\versions\3.10.10\lib\site-packages\scipy\stats\_morestats.py:4088: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "
c:\Users\WMlab\.pyenv\pyenv-win\versions\3.10.10\lib\site-packages\scipy\stats\_morestats.py:4102: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

,data_name,nni_counter,nni_mean,nni_min,nni_max,nni_diff_mean,nni_diff_min,nni_diff_max,hr_mean,hr_min,hr_max,hr_std,rmssd,sdnn,sdsd,nn50,pnn50,nn20,pnn20,vlf_peak,vlf_abs,vlf_rel,vlf_log,lf_peak,lf_abs,lf_rel,lf_log,hf_peak,hf_abs,hf_rel,hf_log,fft_ratio,fft_total,sd1,sd2,sd_ratio,ellipse_area,sampen
0,wilcoxon t,67.000,69.000,94.000,66.000,89.000,86.500,65.500,65.000,66.000,93.000,81.000,89.000,75.000,79.000,75.000,74.500,74.500,66.000,76.500,94.000,89.000,94.000,67.000,77.000,53.000,78.000,69.000,50.000,68.000,48.00,51.00,93.000,89.000,75.000,85.000,70.000,87.000
1,p,0.259,0.312,0.984,0.258,0.829,0.719,0.258,0.241,0.258,0.953,0.595,0.829,0.441,0.541,0.421,0.409,0.418,0.258,0.490,0.984,0.829,0.984,0.260,0.490,0.096,0.515,0.312,0.073,0.293,0.06,0.08,0.953,0.829,0.441,0.709,0.332,0.768
2,alter t,111.500,69.000,94.000,66.000,89.000,6.000,124.500,125.000,124.000,97.000,81.000,101.000,75.000,111.000,55.500,64.000,74.500,66.000,113.500,94.000,89.000,94.000,51.500,113.000,137.000,112.000,69.000,50.000,68.000,48.00,139.00,93.000,101.000,75.000,85.000,70.000,87.000
3,alter p,0.128,0.156,0.492,0.129,0.414,0.327,0.879,0.121,0.129,0.476,0.297,0.601,0.221,0.742,0.160,0.175,0.209,0.129,0.767,0.492,0.601,0.492,0.118,0.767,0.048,0.755,0.853,0.036,0.147,0.03,0.04,0.476,0.601,0.221,0.660,0.166,0.631

Post：

c:\Users\WMlab\.pyenv\pyenv-win\versions\3.10.10\lib\site-packages\scipy\stats\_morestats.py:4088: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "
c:\Users\WMlab\.pyenv\pyenv-win\versions\3.10.10\lib\site-packages\scipy\stats\_morestats.py:4102: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

,data_name,nni_counter,nni_mean,nni_min,nni_max,nni_diff_mean,nni_diff_min,nni_diff_max,hr_mean,hr_min,hr_max,hr_std,rmssd,sdnn,sdsd,nn50,pnn50,nn20,pnn20,vlf_peak,vlf_abs,vlf_rel,vlf_log,lf_peak,lf_abs,lf_rel,lf_log,hf_peak,hf_abs,hf_rel,hf_log,fft_ratio,fft_total,sd1,sd2,sd_ratio,ellipse_area,sampen
0,wilcoxon t,2.500,5.000,25.500,6.000,21.000,22.500,24.500,6.000,6.000,22.000,47.000,21.000,17.000,23.000,17.000,15.000,39.000,29.000,54.500,50.000,47.000,52.000,58.500,50.000,44.000,47.000,38.000,26.000,31.000,23.000,54.000,29.000,21.000,27.000,47.000,19.000,44.000
1,p,0.001,0.001,0.048,0.001,0.026,0.028,0.041,0.001,0.001,0.030,0.489,0.026,0.012,0.035,0.012,0.008,0.252,0.083,0.755,0.599,0.489,0.679,0.932,0.599,0.389,0.489,0.229,0.055,0.107,0.035,0.762,0.083,0.026,0.064,0.489,0.018,0.389
2,alter t,104.000,5.000,25.500,6.000,21.000,0.000,24.500,114.000,114.000,98.000,47.000,21.000,17.000,23.000,17.000,15.000,39.000,29.000,41.000,50.000,73.000,52.000,45.000,50.000,76.000,47.000,82.000,26.000,31.000,23.000,66.000,29.000,21.000,27.000,73.000,19.000,76.000
3,alter p,0.001,0.000,0.024,0.000,0.013,0.007,0.021,0.000,0.000,0.015,0.244,0.013,0.006,0.018,0.006,0.004,0.126,0.042,0.377,0.300,0.244,0.339,0.486,0.300,0.195,0.244,0.115,0.028,0.053,0.018,0.381,0.042,0.013,0.032,0.244,0.009,0.195

## RES

In [30]:
# Relaxing
res_data = pd.read_csv("Feature/RES.csv", header=0, index_col=0)
preA_res_data = res_data[(res_data.stateLabel == 0) & (res_data.addictLabel == 1)]
postA_res_data = res_data[(res_data.stateLabel == 2) & (res_data.addictLabel == 1)]
preN_res_data = res_data[(res_data.stateLabel == 0) & (res_data.addictLabel == 0)]
postN_res_data = res_data[(res_data.stateLabel == 2) & (res_data.addictLabel == 0)]

# 3 group
res_data3group = pd.read_csv("Feature3group/RES.csv", header=0, index_col=0)
preV_res_data = res_data3group[(res_data3group.stateLabel == 0) & (res_data3group.data_name.str[-5] == "V")]
postV_res_data = res_data3group[(res_data3group.stateLabel == 2) & (res_data3group.data_name.str[-6] == "V")]
preC_res_data = res_data3group[(res_data3group.stateLabel == 0) & (res_data3group.data_name.str[-5] == "C")]
postC_res_data = res_data3group[(res_data3group.stateLabel == 2) & (res_data3group.data_name.str[-6] == "C")]

In [33]:
# 獨立樣本 t-test

alterGcol = [
    # 'RRV_RMSSD', 'RRV_MeanBB', 'RRV_SDBB', 'RRV_SDSD', 'RRV_MadBB', 'RRV_CVSD', 
    'RRV_CVBB', 
    # 'RRV_MedianBB', 'RRV_LFHF', 'RRV_SD1', 'RRV_MCVBB', 
    'RRV_LF', 'RRV_VLF', 'RRV_HF', 'RRV_LFn', 'RRV_HFn', 'RRV_SD2', 'RRV_SD2SD1', 'RRV_ApEn'
]

# ['student', 'paired', 'wilcoxon', 'utest', 'effect'] ['False', 'True']
# statistical(preA_res_data, postA_res_data, RESFeatureColumns, 'effect', alterGcol, False)
# print('Normal：')
# statistical(preN_res_data, postN_res_data, RESFeatureColumns, 'effect', alterGcol, False)

# print('Pre：')
statistical(preC_res_data, postC_res_data, RESFeatureColumns, 'wilcoxon', alterGcol, True)
# print('Post：')
statistical(preV_res_data, postV_res_data, RESFeatureColumns, 'wilcoxon', alterGcol, True)
statistical(preA_res_data, postA_res_data, RESFeatureColumns, 'wilcoxon', alterGcol, True)

c:\Users\WMlab\.pyenv\pyenv-win\versions\3.10.10\lib\site-packages\scipy\stats\_morestats.py:4088: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

,data_name,RRV_MeanBB,RRV_MedianBB,RRV_MadBB,RRV_SDBB,RRV_CVBB,RRV_MCVBB,RRV_SDSD,RRV_CVSD,RRV_RMSSD,RRV_SD1,RRV_SD2,RRV_SD2SD1,RRV_VLF,RRV_LF,RRV_LFn,RRV_HF,RRV_HFn,RRV_LFHF,RRV_ApEn
0,wilcoxon t,31.000,27.500,71.000,90.00,73.000,76.000,78.000,80.000,79.000,78.000,90.00,67.000,71.000,67.000,47.000,55.000,38.00,67.000,57.000
1,p,0.008,0.007,0.352,0.86,0.395,0.465,0.515,0.568,0.541,0.515,0.86,0.275,0.352,0.275,0.055,0.113,0.02,0.275,0.134
2,alter t,31.000,25.000,71.000,90.00,117.000,114.000,78.000,110.000,79.000,78.000,100.00,123.000,71.000,123.000,143.000,135.000,152.00,67.000,133.000
3,alter p,0.004,0.004,0.176,0.43,0.198,0.779,0.258,0.729,0.271,0.258,0.43,0.138,0.834,0.138,0.027,0.057,0.01,0.138,0.067

c:\Users\WMlab\.pyenv\pyenv-win\versions\3.10.10\lib\site-packages\scipy\stats\_morestats.py:4088: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

,data_name,RRV_MeanBB,RRV_MedianBB,RRV_MadBB,RRV_SDBB,RRV_CVBB,RRV_MCVBB,RRV_SDSD,RRV_CVSD,RRV_RMSSD,RRV_SD1,RRV_SD2,RRV_SD2SD1,RRV_VLF,RRV_LF,RRV_LFn,RRV_HF,RRV_HFn,RRV_LFHF,RRV_ApEn
0,wilcoxon t,72.000,55.500,69.000,103.000,93.000,63.000,101.000,100.000,100.000,101.000,101.000,84.000,100.000,98.000,91.000,84.000,75.000,68.000,85.000
1,p,0.231,0.065,0.189,0.956,0.674,0.123,0.898,0.869,0.869,0.898,0.898,0.452,0.869,0.812,0.622,0.452,0.277,0.177,0.475
2,alter t,72.000,51.000,141.000,103.000,117.000,147.000,101.000,110.000,100.000,101.000,109.000,126.000,110.000,98.000,119.000,126.000,135.000,68.000,125.000
3,alter p,0.115,0.038,0.912,0.478,0.337,0.943,0.449,0.580,0.435,0.449,0.449,0.226,0.435,0.608,0.311,0.226,0.139,0.088,0.237

,data_name,RRV_MeanBB,RRV_MedianBB,RRV_MadBB,RRV_SDBB,RRV_CVBB,RRV_MCVBB,RRV_SDSD,RRV_CVSD,RRV_RMSSD,RRV_SD1,RRV_SD2,RRV_SD2SD1,RRV_VLF,RRV_LF,RRV_LFn,RRV_HF,RRV_HFn,RRV_LFHF,RRV_ApEn
0,wilcoxon t,49.000,52.000,47.500,59.000,60.000,64.00,61.000,62.000,61.000,61.000,62.000,64.00,46.000,41.000,60.000,44.000,53.000,26.000,53.000
1,p,0.348,0.433,0.298,0.669,0.706,0.86,0.744,0.782,0.744,0.744,0.782,0.86,0.274,0.175,0.706,0.231,0.464,0.029,0.464
2,alter t,49.000,52.000,47.500,59.000,76.000,64.00,61.000,62.000,61.000,61.000,74.000,72.00,90.000,95.000,76.000,92.000,83.000,26.000,83.000
3,alter p,0.174,0.217,0.149,0.334,0.353,0.43,0.372,0.391,0.372,0.372,0.391,0.43,0.137,0.088,0.353,0.116,0.232,0.014,0.232

# Relaxation Level

In [6]:
data = pd.read_excel("Feature/EEG_relaxation_level_sub.xlsx")
A_data = data[data['data_name'].str.contains('A')]
# print(A_data)
N_data = data[data['data_name'].str.contains('N')]
# print(N_data)

alterGcol = [
    'FC3_delta',
    'FC3_theta',
    'FC3_alpha',
    # 'FC3_gamma',
    'FCz_theta', 
    'FCz_alpha', 
    'FCz_gamma', 
    'FCz_beta',
    # 'FCz_delta', 
    # 'Pz_theta',
    'Pz_alpha',
    # 'Pz_delta',
    'Pz_beta',
    'Pz_gamma',
    'Oz_alpha',
    'Oz_beta',
    # 'Oz_delta',
    'Oz_theta',
    # 'Oz_gamma',
]

# ['student', 'paired', 'wilcoxon', 'utest', 'effect'] ['False', 'True'] F T T T F
# statistical(preA_eeg_data, postA_eeg_data, EEGFeatureColumns, 'effect', alterGcol, False)
statistical(A_data, N_data, EEGFeatureColumns, 'utest', alterGcol, True)

,data_name,FC3_delta,FC3_theta,FC3_alpha,FC3_beta,FC3_gamma,FCz_delta,FCz_theta,FCz_alpha,FCz_beta,FCz_gamma,Pz_delta,Pz_theta,Pz_alpha,Pz_beta,Pz_gamma,Oz_delta,Oz_theta,Oz_alpha,Oz_beta,Oz_gamma
0,utest t,57.000,60.000,71.000,40.000,42.00,30.000,56.000,71.000,67.000,69.000,48.000,47.000,60.000,70.000,58.000,49.00,63.000,86.000,61.000,52.000
1,p,0.750,0.595,0.185,0.414,0.50,0.121,0.804,0.185,0.301,0.238,0.804,0.750,0.595,0.210,0.697,0.86,0.456,0.013,0.547,1.000
2,alter t,57.000,60.000,71.000,40.000,42.00,30.000,56.000,71.000,67.000,69.000,48.000,47.000,60.000,70.000,58.000,49.00,63.000,86.000,61.000,52.000
3,alter p,0.375,0.298,0.092,0.207,0.25,0.061,0.402,0.092,0.151,0.119,0.402,0.375,0.298,0.105,0.348,0.43,0.228,0.006,0.273,0.514

In [8]:
data = pd.read_excel("Feature/RES_relaxation_level_sub.xlsx")
A_data = data[data['data_name'].str.contains('A')]
# print(A_data)
N_data = data[data['data_name'].str.contains('N')]
# print(N_data)

alterGcol = [
    'RRV_RMSSD', 'RRV_SDBB', 'RRV_SDSD', 'RRV_CVBB', 'RRV_CVSD',
    'RRV_MadBB', 'RRV_MCVBB', 'RRV_HF', 'RRV_SD1', 'RRV_HFn', 'RRV_SD2', 'RRV_SD2SD1'
]

# ['student', 'paired', 'wilcoxon', 'utest', 'effect'] ['False', 'True']
# statistical(preA_res_data, postA_res_data, RESFeatureColumns, 'effect', alterGcol, False)
statistical(A_data, N_data, RESFeatureColumns, 'utest', alterGcol, True)

,data_name,RRV_RMSSD,RRV_MeanBB,RRV_SDBB,RRV_SDSD,RRV_CVBB,RRV_CVSD,RRV_MedianBB,RRV_MadBB,RRV_MCVBB,RRV_VLF,RRV_LF,RRV_HF,RRV_LFHF,RRV_LFn,RRV_HFn,RRV_SD1,RRV_SD2,RRV_SD2SD1,RRV_ApEn
0,utest t,75.000,69.000,80.000,75.000,93.000,82.000,67.000,90.000,97.000,57.000,67.000,91.000,61.000,66.000,85.000,75.000,87.000,84.000,72.000
1,p,0.887,0.887,0.671,0.887,0.246,0.591,0.799,0.322,0.165,0.412,0.799,0.295,0.552,0.756,0.479,0.887,0.412,0.515,1.000
2,alter t,75.000,69.000,80.000,75.000,93.000,82.000,67.000,90.000,97.000,57.000,67.000,91.000,61.000,66.000,85.000,75.000,87.000,84.000,72.000
3,alter p,0.444,0.444,0.336,0.444,0.123,0.295,0.399,0.161,0.083,0.206,0.399,0.147,0.276,0.378,0.240,0.444,0.206,0.258,0.511

In [10]:
data = pd.read_excel("Feature/HRV_relaxation_level_sub.xlsx")
A_data = data[data['data_name'].str.contains('A')]
# print(A_data)
N_data = data[data['data_name'].str.contains('N')]
# print(N_data)

alterGcol = [
    'nni_mean', 'nni_min', 'nni_max', 'nni_diff_mean', 'nni_diff_min', 'nni_diff_max', 
    'hr_std', 'rmssd', 'sdnn', 'sdsd', 'nn50', 'nn20', 'pnn20', 'pnn50', 
    'lf_peak', 'hf_abs', 'vlf_rel', 'hf_rel', 
    'hf_log', 'fft_total', 'sd1', 'sd2', 'ellipse_area'
]

# ['student', 'paired', 'wilcoxon', 'utest', 'effect'] ['False', 'True']
# statistical(preA_res_data, postA_res_data, RESFeatureColumns, 'effect', alterGcol, False)
statistical(A_data, N_data, EKGFeatureColumns, 'utest', alterGcol, True)

,data_name,nni_mean,nni_counter,nni_min,nni_max,nni_diff_mean,nni_diff_min,nni_diff_max,hr_mean,hr_min,hr_max,hr_std,rmssd,sdnn,sdsd,nn50,pnn50,nn20,pnn20,vlf_peak,lf_peak,hf_peak,vlf_abs,lf_abs,hf_abs,vlf_rel,lf_rel,hf_rel,vlf_log,lf_log,hf_log,fft_ratio,fft_total,sd1,sd2,sd_ratio,ellipse_area,sampen
0,utest t,103.000,18.000,90.000,96.000,92.000,72.000,91.500,36.000,42.000,41.000,75.000,95.000,87.000,91.000,92.000,96.000,76.000,81.000,38.500,82.000,50.000,66.000,69.000,84.00,76.000,41.000,83.000,67.0,57.000,79.000,56.000,75.000,95.000,80.000,67.0,93.000,61.000
1,p,0.037,0.003,0.189,0.095,0.152,0.776,0.161,0.065,0.136,0.121,0.676,0.107,0.257,0.170,0.152,0.095,0.633,0.438,0.089,0.403,0.311,0.952,0.952,0.34,0.633,0.121,0.371,1.0,0.551,0.512,0.512,0.676,0.107,0.474,1.0,0.136,0.721
2,alter t,103.000,18.000,90.000,96.000,92.000,72.000,91.500,36.000,42.000,41.000,75.000,95.000,87.000,91.000,92.000,96.000,76.000,81.000,38.500,82.000,50.000,66.000,69.000,84.00,76.000,41.000,83.000,67.0,57.000,79.000,56.000,75.000,95.000,80.000,67.0,93.000,61.000
3,alter p,0.018,0.002,0.095,0.047,0.076,0.388,0.081,0.032,0.068,0.061,0.338,0.054,0.129,0.085,0.076,0.047,0.317,0.219,0.045,0.201,0.155,0.476,0.547,0.17,0.317,0.061,0.186,0.5,0.275,0.256,0.256,0.338,0.054,0.237,0.5,0.068,0.360

In [14]:
data = pd.read_excel("Feature/GSR_relaxation_level_sub.xlsx")
A_data = data[data['data_name'].str.contains('A')]
# print(A_data)
N_data = data[data['data_name'].str.contains('N')]
# print(N_data)

alterGcol = [
    # 'diff',
    'startle',
    # 'duration',
    # 'average_filter',
    'mini_scr',
    # 'average_scr',
    # 'std_scr',
    # 'average_ampl',
    # 'std_ampl'
]

# ['student', 'paired', 'wilcoxon', 'utest', 'effect'] ['False', 'True']
# statistical(preA_res_data, postA_res_data, RESFeatureColumns, 'effect', alterGcol, False)
statistical(A_data, N_data, GSRFeatureColumns, 'utest', alterGcol, True)

,data_name,diff,startle,duration,average_filter,mini_scr,maxi_scr,average_scr,std_scr,average_ampl,std_ampl
0,utest t,37.000,91.000,47.000,53.000,77.000,52.000,62.000,27.000,51.000,42.000
1,p,0.051,0.295,0.165,0.295,0.799,0.270,0.591,0.012,0.246,0.095
2,alter t,37.000,91.000,47.000,53.000,77.000,52.000,62.000,27.000,51.000,42.000
3,alter p,0.025,0.147,0.083,0.147,0.399,0.135,0.295,0.006,0.123,0.047

In [ ]:
# 給定一字串 {[(([)])]}
# 最少步數合理
int step(string n) {
    int ans = 0;
    int big = 0, mid = 0, sma = 0;
    int index = 0;
    while (big != 2 & mid != 2 & sma != 2 || index <= n.lenght()) {
        if (n[index] == '{' || n[index] == '}') {
            if (big == 2) big = big % 2;
            big++;
        } else if (n[index] == '[' || n[index] == ']') {
            if (mid == 2) mid = mid % 2;
            mid++;
        } else if (n[index] == '(' || n[index] == ')') {
            if (sma == 2) sma = sma % 2;
            sma++;
        }
        ans++;
    }
    return ans;
}